*,
*::before,
*::after {
    box-sizing: border-box
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
}
.header {
    
    border-bottom: 1px solid #e7e9fc;
    
}
.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.navigation-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.logo-header {
    color: #4d5ae5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    padding: 24px 0;
}
.logo-navy-blue {
    color: #2e2f42;
}
.navigation-link:hover, .navigation-link:focus {
    color: #404bbf;
}
.contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.contacts-list {
    display: flex;
    gap: 40px;
}
.contacts-link:hover, .contacts-link:focus {
    color: #404bbf;
}
.first-section {
    background-color: #2e2f42;
    padding: 188px 0;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.first-section-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.first-section-button:hover, .first-section-button:focus {
    background-color: #404bbf;
}
.second-section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.second-section-list {
    display: flex;
    gap: 24px;
}
.second-section-list-item {
    flex-basis: calc((100% - 72px) / 4);
 }
.second-section-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.second-section-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.third-section {
    background-color: #f4f4fd;
}
.third-section-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.third-section-card {
    background-color: #FFFFFF;
}
.third-section-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.third-section-photo {
    margin-bottom: 32px;
}
.third-section-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.third-section-post {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 32px;
}
.fourth-section-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 48px;
    justify-content: center;
}
.fourth-section-item {
    max-width: calc((100% - 48px) / 3);
}
.fourth-section-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
    margin-bottom: 8px;
}
.fourth-section-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    padding-left: 156px;
}
.logo-white {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px;
}
.logo-footer {
    color: #4d5ae5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}